body {
    padding: 0;
    margin: 0;
    background-image: url(./fotos/iPhone\ 15\ pro\ max.jpg);
    background-position: top 1% right 30% left 30%;
    background-repeat: no-repeat;
    background-size: ;
}